/* Javascript class */
.display-none {
  display: none !important;
}

.active {
  background-color: none;
  cursor: pointer;
  color: #afaa96;
}
.active .projet-menu-deco,
.active .projet-menu-items,
.active .projet-menu-barre,
.active .projet-menu-text {
  background-color: #4a473e !important;
  color: #afaa96 !important;
  box-shadow: none !important;
}
.active:hover .projet-menu-deco,
.active:hover .projet-menu-items,
.active:hover .projet-menu-barre,
.active:hover .projet-menu-text {
  background-color: #4a473e !important;
  color: #afaa96 !important;
  animation: none !important;
}

.active-profil {
  background-color: none;
  cursor: pointer;
  color: #afaa96;
}
.active-profil .profil-menu-deco,
.active-profil .profil-menu-items,
.active-profil .profil-menu-barre,
.active-profil .profil-menu-text {
  background-color: #4a473e !important;
  color: #afaa96 !important;
  box-shadow: none !important;
}
.active-profil:hover .profil-menu-deco,
.active-profil:hover .profil-menu-items,
.active-profil:hover .profil-menu-barre,
.active-profil:hover .profil-menu-text {
  background-color: #4a473e !important;
  color: #afaa96 !important;
  animation: none !important;
}

.active-contact {
  background-color: none;
  cursor: pointer;
  color: #afaa96;
}
.active-contact .contact-menu-deco,
.active-contact .contact-menu-items,
.active-contact .contact-menu-barre,
.active-contact .contact-menu-text {
  background-color: #4a473e !important;
  color: #afaa96 !important;
  box-shadow: none !important;
}
.active-contact:hover .contact-menu-deco,
.active-contact:hover .contact-menu-items,
.active-contact:hover .contact-menu-barre,
.active-contact:hover .contact-menu-text {
  background-color: #4a473e !important;
  color: #afaa96 !important;
  animation: none !important;
}

.active-nav {
  background-color: none;
  cursor: pointer;
  color: #afaa96;
}
.active-nav .nav-menu-deco,
.active-nav .nav-menu-items,
.active-nav .nav-menu-barre,
.active-nav .nav-menu-text {
  background-color: #4a473e !important;
  color: #afaa96 !important;
  box-shadow: none !important;
}
.active-nav:hover .nav-menu-deco,
.active-nav:hover .nav-menu-items,
.active-nav:hover .nav-menu-barre,
.active-nav:hover .nav-menu-text {
  background-color: #4a473e !important;
  color: #afaa96 !important;
  animation: none !important;
}

/* body - global */
@font-face {
  font-family: Automata;
  src: url(ITC\ Benguiat\ Book.ttf);
}
body {
  background-image: url(../images/nier-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(176, 171, 150, 0.6039215686);
  font-family: "Quantico";
  letter-spacing: 3px;
  font-size: 1.4rem;
  /* nav bar test */
  /* NAV BAR */
  /* SECTION */
  /* SOUS MENU CONTACT */
  /* Animations */
  /* Responsive */
}
body #grain {
  background-image: url(../images/graingif.gif);
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.05;
  pointer-events: none;
}
body .grid-back {
  background-image: url(../images/svggrid.svg);
  z-index: 998;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
  pointer-events: none;
}
body .loadbox {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 997;
  pointer-events: none;
}
body .backimg {
  background-color: rgb(0, 0, 0);
}
body .loadbox div {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
body .load-1 {
  background: url(../images/bg_block01_bk.png) left top/min(150%, 2000px) repeat;
}
body .load-2 {
  background: url(../images/bg_block02_bk.png) left top/min(150%, 2000px) repeat;
}
body .load-3 {
  background: url(../images/bg_block03_bk.png) left top/min(150%, 2000px) repeat;
}
body .load-4 {
  background: url(../images/bg_block04_bk.png) left top/min(150%, 2000px) repeat;
}
body .load-5 {
  background: url(../images/bg_block05_bk.png) left top/min(150%, 2000px) repeat;
}
body .load-6 {
  background: url(../images/bg_block06_bk.png) left top/min(150%, 2000px) repeat;
}
body .load-7 {
  background: url(../images/bg_block07_bk.png) left top/min(150%, 2000px) repeat;
}
body .start-playbtn {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 998;
  cursor: pointer;
}
body .start-playbtn:hover .playbtn-box1 {
  animation: rotata 0.5s 1 forwards;
}
body .playbtn-box1-animout {
  animation: rotata-out 0.5s 1 forwards;
}
body .start-playbtn:hover .playbtn-box2 {
  animation: scale 0.5s 1 forwards;
}
body .playbtn-box2-animout {
  animation: scale-out 0.5s 1 forwards;
}
body .playbtn-anim {
  animation: glitchstart 0.5s 1 forwards;
}
body .playbtn-box1 {
  width: 45px;
  height: 45px;
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid white;
  position: absolute;
  transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2)) rotate(45deg);
}
body .playbtn-box2 {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  position: absolute;
  transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2)) rotate(45deg);
}
body .playbtn {
  background-image: url(../images/iconmonstr-media-control-48.svg);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  width: 25px;
  height: 25px;
  transform: translate(calc((100vw - 18px) / 2), calc((100vh - 25px) / 2));
}
@keyframes scale {
  0% {
    transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2)) scale(1) rotate(45deg);
  }
  100% {
    transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2)) scale(0.8) rotate(45deg);
  }
}
@keyframes scale-out {
  0% {
    transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2)) scale(0.8) rotate(45deg);
  }
  100% {
    transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2)) scale(1) rotate(45deg);
  }
}
@keyframes rotata {
  0% {
    transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2)) rotate(45deg);
  }
  100% {
    transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2)) rotate(90deg);
  }
}
@keyframes rotata-out {
  0% {
    transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2)) rotate(90deg);
  }
  100% {
    transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2)) rotate(45deg);
  }
}
@keyframes glitchstart {
  0% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  5% {
    filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  10% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  40% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  45% {
    filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  50% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  65% {
    filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  70% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  90% {
    filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  93% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
  100% {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg) brightness(101%) contrast(103%);
  }
}
body .navbar-items-main {
  display: flex;
  justify-content: space-between;
}
body .navbar-items-main .navbar-items-mini-main {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 50%;
  margin-right: 30px;
}
body .navbar-items-main .navbar-items-box {
  display: flex;
  gap: 16px;
}
body .navbar-items-main .navbar-items-box:hover,
body .navbar-items-main .navbar-items-box:hover .navbar-items-text {
  background-color: #4a473e;
  color: #afaa96;
  box-shadow: 2px 2px 5px #4a473e;
  cursor: pointer;
  gap: 0px;
  animation-name: nav-bar-anim-text;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
body .navbar-items-main .navbar-items-deco {
  width: 5px;
  background-color: #4a473e;
  height: 100%;
}
body .navbar-items-main .navbar-items-text {
  background-color: #afaa96;
  padding: 12px 24px;
}
@keyframes nav-bar-anim-text {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1.1);
  }
}
body .nav-deco {
  display: flex;
  gap: 4px;
}
body .nav-deco-1 {
  height: 2.5rem;
  width: 10px;
  background-color: #afaa96;
}
body .nav-deco-2 {
  height: 2.5rem;
  width: 4px;
  background-color: #afaa96;
}
body .dot-deco {
  width: 100%;
  height: 15.7px;
  background-image: url(../images/nier-border.svg);
}
body .nav-menu-principal {
  display: flex;
  gap: 5px;
  height: 60px;
}
body .nav-menu-principal .nav-menu-deco {
  width: 4px;
  height: 100%;
}
body .nav-menu-principal .nav-menu-items {
  background-color: #afaa96;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
}
body .nav-menu-principal .nav-menu-items .nav-menu-barre {
  height: 5px;
  background-color: #4a473e;
}
body .nav-menu-principal .nav-menu-items .nav-menu-text {
  color: #4a473e;
  text-align: center;
}
@keyframes scale-up-nav {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
  }
}
body .nav-menu-principal:hover .nav-menu-items,
body .nav-menu-principal:hover .nav-menu-deco,
body .nav-menu-principal:hover .nav-menu-text {
  animation-name: scale-up-nav;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #4a473e;
  cursor: pointer;
  color: #afaa96;
}
body section {
  height: 60vh;
  margin-bottom: 10vh;
  /* SOUS MENU PROFIL */
  /* MENU PROJET */
  /* SOUS MENU PROJET */
}
body section .menu-deco {
  display: flex;
  gap: 4px;
}
body section .menu-deco .menu-deco-1 {
  width: 10px;
  /* padding: 8px 0px; */
  background-color: #afaa96;
}
body section .menu-deco .menu-deco-2 {
  width: 4px;
  background-color: #afaa96;
}
body section .profil-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body section .profil-menu .profil-menu-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3px;
}
body section .profil-menu .profil-menu-principal .profil-menu-items {
  height: 40px;
  width: 100%;
  background-color: #afaa96;
  display: flex;
  gap: 5px;
  align-items: center;
}
body section .profil-menu .profil-menu-principal .profil-menu-items .profil-menu-barre {
  height: 100%;
  width: 10px;
  background-color: #4a473e;
}
body section .profil-menu .profil-menu-principal .profil-menu-items .profil-menu-text {
  background-color: #afaa96;
  margin-left: 10px;
  color: #4a473e;
}
body section .profil-menu .profil-menu-principal .profil-menu-deco {
  width: 100%;
  height: 2px;
}
body section .profil-menu .profil-menu-items:hover {
  box-shadow: 1px 1px 3px #4a473e;
}
body section .profil-menu .profil-menu-principal:hover .profil-menu-items,
body section .profil-menu .profil-menu-principal:hover .profil-menu-deco,
body section .profil-menu .profil-menu-principal:hover .profil-menu-text {
  animation-name: scale-up-hor-left;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #4a473e;
  color: #afaa96;
  cursor: pointer;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
body section .profil-menu-window1,
body section .profil-menu-window2,
body section .profil-menu-window3,
body section .profil-menu-window4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body section .profil-menu-box-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section .image-box-profil-menu1,
body section .image-box-profil-menu2,
body section .image-box-profil-menu3,
body section .image-box-profil-menu4 {
  height: 300px;
  width: 100%;
}
body section .image-box-profil-menu1 {
  background-image: url(../images/OmniFood.PNG);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body section .image-box-profil-menu2 {
  background-color: rgb(218, 198, 16);
}
body section .image-box-profil-menu3 {
  background-color: rgb(16, 218, 93);
}
body section .image-box-profil-menu4 {
  background-color: rgb(19, 16, 218);
}
body section .profil-menu-text-box {
  font-size: 1rem;
  letter-spacing: 2px;
}
body section .profil-menu-link-box {
  align-self: flex-end;
  color: #4a473e;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
}
body section .profil-menu-link-box:hover {
  -webkit-text-decoration: underline solid #4a473e 2px;
          text-decoration: underline solid #4a473e 2px;
}
body section .projet-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body section .projet-menu .projet-menu-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3px;
}
body section .projet-menu .projet-menu-principal .projet-menu-items {
  height: 40px;
  width: 100%;
  background-color: #afaa96;
  display: flex;
  gap: 5px;
  align-items: center;
}
body section .projet-menu .projet-menu-principal .projet-menu-items .projet-menu-barre {
  height: 100%;
  width: 10px;
  background-color: #4a473e;
}
body section .projet-menu .projet-menu-principal .projet-menu-items .projet-menu-text {
  background-color: #afaa96;
  margin-left: 10px;
  color: #4a473e;
}
body section .projet-menu .projet-menu-principal .projet-menu-deco {
  width: 100%;
  height: 2px;
}
body section .projet-menu .projet-menu-items:hover {
  box-shadow: 1px 1px 3px #4a473e;
}
body section .projet-menu .projet-menu-principal:hover .projet-menu-items,
body section .projet-menu .projet-menu-principal:hover .projet-menu-deco,
body section .projet-menu .projet-menu-principal:hover .projet-menu-text {
  animation-name: scale-up-hor-left;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #4a473e;
  color: #afaa96;
  cursor: pointer;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
body section .sous-menu-window1,
body section .sous-menu-window2,
body section .sous-menu-window3,
body section .sous-menu-window4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body section .sous-menu-box-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section .image-box-sous-menu1,
body section .image-box-sous-menu2,
body section .image-box-sous-menu3,
body section .image-box-sous-menu4 {
  height: 300px;
  width: 100%;
}
body section .image-box-sous-menu1 {
  background-image: url(../images/OmniFoodNew.PNG);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body section .image-box-sous-menu2 {
  background-color: rgb(218, 198, 16);
}
body section .image-box-sous-menu3 {
  background-color: rgb(16, 218, 93);
}
body section .image-box-sous-menu4 {
  background-color: rgb(19, 16, 218);
}
body section .sous-menu-text-box {
  font-size: 1rem;
  letter-spacing: 2px;
}
body section .sous-menu-link-box {
  align-self: flex-end;
  color: #4a473e;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
}
body section .sous-menu-link-box:hover {
  -webkit-text-decoration: underline solid #4a473e 2px;
          text-decoration: underline solid #4a473e 2px;
}
body .contact-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .contact-menu .contact-menu-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3px;
}
body .contact-menu .contact-menu-principal .contact-menu-items {
  height: 40px;
  width: 100%;
  background-color: #afaa96;
  display: flex;
  gap: 5px;
  align-items: center;
}
body .contact-menu .contact-menu-principal .contact-menu-items .contact-menu-barre {
  height: 100%;
  width: 10px;
  background-color: #4a473e;
}
body .contact-menu .contact-menu-principal .contact-menu-items .contact-menu-text {
  background-color: #afaa96;
  margin-left: 10px;
  color: #4a473e;
}
body .contact-menu .contact-menu-principal .contact-menu-deco {
  width: 100%;
  height: 2px;
}
body .contact-menu .contact-menu-items:hover {
  box-shadow: 1px 1px 3px #4a473e;
}
body .contact-menu .contact-menu-principal:hover .contact-menu-items,
body .contact-menu .contact-menu-principal:hover .contact-menu-deco,
body .contact-menu .contact-menu-principal:hover .contact-menu-text {
  animation-name: scale-up-hor-left;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #4a473e;
  color: #afaa96;
  cursor: pointer;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
body .contact-menu-window1,
body .contact-menu-window2,
body .contact-menu-window3,
body .contact-menu-window4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .contact-menu-box-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .image-box-contact-menu1,
body .image-box-contact-menu2,
body .image-box-contact-menu3,
body .image-box-contact-menu4 {
  height: 300px;
  width: 100%;
}
body .image-box-contact-menu1 {
  background-image: url(../images/GitHub.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body .image-box-contact-menu2 {
  background-image: url(../images/GitHubOri.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body .image-box-contact-menu3 {
  background-color: rgb(16, 218, 93);
}
body .image-box-contact-menu4 {
  background-color: rgb(19, 16, 218);
}
body .contact-menu-text-box {
  font-size: 1rem;
  letter-spacing: 2px;
}
body .contact-menu-link-box {
  align-self: flex-end;
  color: #4a473e;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
}
body .contact-menu-link-box:hover {
  -webkit-text-decoration: underline solid #4a473e 2px;
          text-decoration: underline solid #4a473e 2px;
}
body #reboot-box {
  position: absolute;
  width: 450px;
  height: 340px;
  z-index: 9;
  animation: scale-up-center 0.1s 1 forwards;
}
@keyframes scale-up-center {
  0% {
    transform: translate(calc((100vw - 450px) / 2), calc((100vh - 340px) / 2)) scale(0.5);
  }
  100% {
    transform: translate(calc((100vw - 450px) / 2), calc((100vh - 340px) / 2)) scale(1);
  }
}
body #reboot-box #reboot-title-box {
  background-color: #4b483f;
  height: 25%;
}
body #reboot-box #reboot-title-box #reboot-title-text {
  text-align: center;
  transform: translateY(calc((50% + 1rem) / 2));
  color: #afaa96;
  font-size: 2rem;
}
body #reboot-box #reboot-text-box {
  background-color: #afaa96;
  display: flex;
  height: 75%;
  flex-direction: column;
  justify-content: space-around;
}
body #reboot-box #reboot-text-box #reboot-message {
  color: #4a473e;
  text-align: center;
  padding: 0px 15px 0px 15px;
}
body #reboot-box #reboot-text-box #reboot-text-mini-box {
  display: flex;
  justify-content: space-around;
}
body #reboot-box #reboot-text-box #reboot-text-mini-box .reboot-text-1 {
  width: 40%;
  -moz-text-align-last: center;
       text-align-last: center;
  background-color: #afaa96;
  color: #4a473e;
  cursor: pointer;
  border: 1px solid hsla(45, 9%, 27%, 0.5);
}
body #reboot-box #reboot-text-box #reboot-text-mini-box .reboot-text-1:hover {
  background-color: #4a473e;
  color: #afaa96;
}
body #reboot-box #reboot-text-box #reboot-text-mini-box .reboot-text-2 {
  width: 40%;
  background-color: #afaa96;
  color: #4a473e;
  text-align: center;
  cursor: pointer;
  border: 1px solid hsla(45, 9%, 27%, 0.5);
}
body #reboot-box #reboot-text-box #reboot-text-mini-box .reboot-text-2:hover {
  background-color: #4a473e;
  color: #afaa96;
}
@media (max-width: 576px) {
  body .projet-menu {
    display: none;
  }
  body .sous-menu {
    display: none;
  }
}/*# sourceMappingURL=sass.css.map */