@import "../node_modules/bootstrap/scss/bootstrap.scss";

$body-color: #b0ab969a;
$light-gray: #afaa96;
$dark-gray: #4a473e;
$window-gray: #dfdac4;

/* body - global */
body {
  background-image: url(../images/nier-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $body-color;
  font-family: "Quantico";
  letter-spacing: 3px;
  font-size: 1.4rem;

  /* Javascript class */
  .display-none {
    display: none !important;
  }

  .active {
    background-color: none;
    cursor: pointer;
    color: $light-gray;
    .projet-menu-deco,
    .projet-menu-items,
    .projet-menu-barre,
    .projet-menu-text {
      background-color: $dark-gray !important;
      color: $light-gray !important;
      box-shadow: none !important;
    }
    &:hover {
      .projet-menu-deco,
      .projet-menu-items,
      .projet-menu-barre,
      .projet-menu-text {
        background-color: $dark-gray !important;
        color: $light-gray !important;
        animation: none !important;
      }
    }
  }
  .active-profil {
    background-color: none;
    cursor: pointer;
    color: $light-gray;
    .profil-menu-deco,
    .profil-menu-items,
    .profil-menu-barre,
    .profil-menu-text {
      background-color: $dark-gray !important;
      color: $light-gray !important;
      box-shadow: none !important;
    }
    &:hover {
      .profil-menu-deco,
      .profil-menu-items,
      .profil-menu-barre,
      .profil-menu-text {
        background-color: $dark-gray !important;
        color: $light-gray !important;
        animation: none !important;
      }
    }
  }
  .active-contact {
    background-color: none;
    cursor: pointer;
    color: $light-gray;
    .contact-menu-deco,
    .contact-menu-items,
    .contact-menu-barre,
    .contact-menu-text {
      background-color: $dark-gray !important;
      color: $light-gray !important;
      box-shadow: none !important;
    }
    &:hover {
      .contact-menu-deco,
      .contact-menu-items,
      .contact-menu-barre,
      .contact-menu-text {
        background-color: $dark-gray !important;
        color: $light-gray !important;
        animation: none !important;
      }
    }
  }

  .active-nav {
    background-color: none;
    cursor: pointer;
    color: $light-gray;
    .nav-menu-deco,
    .nav-menu-items,
    .nav-menu-barre,
    .nav-menu-text {
      background-color: $dark-gray !important;
      color: $light-gray !important;
      box-shadow: none !important;
    }
    &:hover {
      .nav-menu-deco,
      .nav-menu-items,
      .nav-menu-barre,
      .nav-menu-text {
        background-color: $dark-gray !important;
        color: $light-gray !important;
        animation: none !important;
      }
    }
  }

  #grain {
    background-image: url(../images/graingif.gif);
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.05;
    pointer-events: none;
  }

  .grid-back {
    background-image: url(../images/svggrid.svg);
    z-index: 998;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    pointer-events: none;
  }

  // Loading Screen
  .loadbox {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 997;
    pointer-events: none;

    .loaddiv {
      height: 100vh;
      width: 100vw;
      position: absolute;
    }

    .load-1 {
      background: url(../images/bg_block01_bk.png) left top / min(150%, 2000px)
        repeat;
    }
    .load-2 {
      background: url(../images/bg_block02_bk.png) left top / min(150%, 2000px)
        repeat;
    }
    .load-3 {
      background: url(../images/bg_block03_bk.png) left top / min(150%, 2000px)
        repeat;
    }
    .load-4 {
      background: url(../images/bg_block04_bk.png) left top / min(150%, 2000px)
        repeat;
    }
    .load-5 {
      background: url(../images/bg_block05_bk.png) left top / min(150%, 2000px)
        repeat;
    }
    .load-6 {
      background: url(../images/bg_block06_bk.png) left top / min(150%, 2000px)
        repeat;
    }
    .load-7 {
      background: url(../images/bg_block07_bk.png) left top / min(150%, 2000px)
        repeat;
    }
  }

  .backimg {
    background-color: rgb(0, 0, 0);
  }

  // Start Button
  .start-playbtn {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 998;
    cursor: pointer;

    &:hover .playbtn-box1 {
      animation: rotata 0.5s 1 forwards;
    }

    &:hover .playbtn-box2 {
      animation: scale 0.5s 1 forwards;
    }

    .playbtn-box1-animout {
      animation: rotata-out 0.5s 1 forwards;
    }

    .playbtn-box2-animout {
      animation: scale-out 0.5s 1 forwards;
    }
    .playbtn-anim {
      animation: glitchstart 0.5s 1 forwards;
    }

    .playbtn-box1 {
      width: 45px;
      height: 45px;
      background-color: rgba(240, 248, 255, 0);
      border: 1px solid white;
      position: absolute;
      transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
        rotate(45deg);
    }

    .playbtn-box2 {
      width: 50px;
      height: 50px;
      border: 1px solid white;
      position: absolute;
      transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
        rotate(45deg);
    }

    .playbtn {
      background-image: url(../images/iconmonstr-media-control-48.svg);
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
      width: 25px;
      height: 25px;
      transform: translate(calc((100vw - 18px) / 2), calc((100vh - 25px) / 2));
    }

    @keyframes scale {
      0% {
        transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
          scale(1) rotate(45deg);
      }
      100% {
        transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
          scale(0.8) rotate(45deg);
      }
    }
    @keyframes scale-out {
      0% {
        transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
          scale(0.8) rotate(45deg);
      }
      100% {
        transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
          scale(1) rotate(45deg);
      }
    }
    @keyframes rotata {
      0% {
        transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
          rotate(45deg);
      }
      100% {
        transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
          rotate(90deg);
      }
    }
    @keyframes rotata-out {
      0% {
        transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
          rotate(90deg);
      }
      100% {
        transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
          rotate(45deg);
      }
    }

    @keyframes glitchstart {
      0% {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      5% {
        filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      10% {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      40% {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      45% {
        filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      50% {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      65% {
        filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      70% {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      90% {
        filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      93% {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
      100% {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
      }
    }
  }
  /////////////////////////////////
  /* NAV BAR */
  /////////////////////////////////

  .nav-deco {
    display: flex;
    gap: 4px;

    .nav-deco-1 {
      height: 2.5rem;
      width: 10px;
      background-color: $light-gray;
    }
    .nav-deco-2 {
      height: 2.5rem;
      width: 4px;
      background-color: $light-gray;
    }
  }

  .dot-deco {
    width: 100%;
    height: 15.7px;
    background-image: url(../images/nier-border.svg);
  }

  // ///////////////////////////////////
  // TEST NAV
  //////////////////////////////////

  .navbar-items-main {
    display: flex;
    justify-content: space-between;

    .navbar-items-mini-main {
      display: flex;
      justify-content: space-between;
      gap: 80px;
      margin-right: 30px;
    }
  }

  .nav-menu-principal {
    display: flex;
    gap: 5px;
    height: 60px;

    &:hover {
      .nav-menu-items,
      .nav-menu-deco,
      .nav-menu-text {
        animation-name: scale-up-nav;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background-color: $dark-gray;
        cursor: pointer;
        color: $light-gray !important;
      }
      @keyframes scale-up-nav {
        0% {
          -webkit-transform: scaleY(0);
          transform: scaleY(0);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
        100% {
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
      }
    }
    .nav-menu-deco {
      width: 4px;
      height: 100%;
    }
    .nav-menu-items {
      background-color: $light-gray;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 150px;
      .nav-menu-barre {
        height: 5px;
        background-color: $dark-gray;
      }
      .nav-menu-text {
        color: $dark-gray;
        text-align: center;
      }
    }
  }

  /////////////////////////////////
  /* SECTION */
  /////////////////////////////////
  section {
    height: 60vh;
    margin-bottom: 10vh;

    .menu-deco {
      display: flex;
      gap: 4px;

      .menu-deco-1 {
        width: 10px;
        /* padding: 8px 0px; */
        background-color: $light-gray;
      }

      .menu-deco-2 {
        width: 4px;
        background-color: $light-gray;
      }
    }

    /////////////////////////////////
    /// MENU PROFIL
    /// /////////////////////////
    .profil-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .profil-menu-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3px;
        .profil-menu-items {
          height: 40px;
          width: 100%;
          background-color: $light-gray;
          display: flex;
          gap: 5px;
          align-items: center;

          .profil-menu-barre {
            height: 100%;
            width: 10px;
            background-color: $dark-gray;
          }

          .profil-menu-text {
            background-color: $light-gray;
            margin-left: 10px;
            color: $dark-gray;
          }
        }
        .profil-menu-deco {
          width: 100%;
          height: 2px;
        }
      }
      .profil-menu-items:hover {
        box-shadow: 1px 1px 3px $dark-gray;
      }
      .profil-menu-principal:hover .profil-menu-items,
      .profil-menu-principal:hover .profil-menu-deco,
      .profil-menu-principal:hover .profil-menu-text {
        animation-name: scale-up-hor-left;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background-color: $dark-gray;
        color: $light-gray;
        cursor: pointer;
      }

      @keyframes scale-up-hor-left {
        0% {
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
        100% {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
      }
    }

    /////////////////////////////////
    /* SOUS MENU PROFIL */
    /////////////////////////////////
    .profil-menu-window1,
    .profil-menu-window2 {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-top: 30px solid $dark-gray;
      background-color: $window-gray;
      padding: 10px 10px 0px 10px;
      box-shadow: 0px 0px 5px $dark-gray;
      animation: scale-up-window 0.1s 1 forwards;
    }

    .profil-menu-window3 {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      border-top: 30px solid $dark-gray;
      background-color: $window-gray;
      box-shadow: 0px 0px 5px $dark-gray;
      animation: scale-up-window 0.1s 1 forwards;
    }

    .profil-menu-box-principal {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image-box-profil-menu1,
    .image-box-profil-menu2,
    .image-box-profil-menu3 {
      height: 240px;
      width: 100%;
    }
    .image-box-profil-menu1 {
      background-image: url(../images/guitare4-3.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .image-box-profil-menu2 {
      background-image: url(../images/montagne.jpg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .image-box-profil-menu3 {
      background-image: url(../images/new-toy-star-crafts.gif);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .profil-menu-text-box {
      font-size: 1rem;
      letter-spacing: 1.5px;
    }
    .profil-menu-link-box {
      align-self: flex-end;
      color: $dark-gray;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.6rem;
    }

    .profil-menu-link-box:hover {
      text-decoration: underline solid $dark-gray 2px;
    }

    /////////////////////////////////
    /* MENU PROJET */
    /////////////////////////////////
    .projet-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .projet-menu-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3px;
        .projet-menu-items {
          height: 40px;
          width: 100%;
          background-color: $light-gray;
          display: flex;
          gap: 5px;
          align-items: center;

          .projet-menu-barre {
            height: 100%;
            width: 10px;
            background-color: $dark-gray;
          }

          .projet-menu-text {
            background-color: $light-gray;
            margin-left: 10px;
            color: $dark-gray;
          }
        }
        .projet-menu-deco {
          width: 100%;
          height: 2px;
        }
      }
      .projet-menu-items:hover {
        box-shadow: 1px 1px 3px $dark-gray;
      }
      .projet-menu-principal:hover .projet-menu-items,
      .projet-menu-principal:hover .projet-menu-deco,
      .projet-menu-principal:hover .projet-menu-text {
        animation-name: scale-up-hor-left;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background-color: $dark-gray;
        color: $light-gray;
        cursor: pointer;
      }

      @keyframes scale-up-hor-left {
        0% {
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
        100% {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
      }
    }
    /////////////////////////////////
    /* SOUS MENU PROJET */
    /////////////////////////////////
    .sous-menu-window1,
    .sous-menu-window2,
    .sous-menu-window3,
    .sous-menu-window4 {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-top: 30px solid $dark-gray;
      background-color: $window-gray;
      padding: 10px 10px 0px 10px;
      box-shadow: 0px 0px 5px $dark-gray;
      animation: scale-up-window 0.1s 1 forwards;
    }

    .sous-menu-box-principal {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image-box-sous-menu1,
    .image-box-sous-menu2,
    .image-box-sous-menu3,
    .image-box-sous-menu4 {
      height: 240px;
      width: 100%;
    }
    .image-box-sous-menu1 {
      background-image: url(../images/OmniFoodNew.PNG);
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .image-box-sous-menu2 {
      background-image: url(../images/memorygamedesat.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .image-box-sous-menu3 {
      background-color: rgb(16, 218, 93);
    }
    .image-box-sous-menu4 {
      background-color: rgb(19, 16, 218);
    }

    .sous-menu-text-box {
      font-size: 1rem;
      letter-spacing: 1.5px;
    }
    .sous-menu-link-box {
      align-self: flex-end;
      color: $dark-gray;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.6rem;
    }

    .sous-menu-link-box:hover {
      text-decoration: underline solid $dark-gray 2px;
    }
  }

  /////////////////////////////////
  /// MENU CONTACT
  /// /////////////////////////
  .contact-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .contact-menu-principal {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 3px;
      .contact-menu-items {
        height: 40px;
        width: 100%;
        background-color: $light-gray;
        display: flex;
        gap: 5px;
        align-items: center;

        .contact-menu-barre {
          height: 100%;
          width: 10px;
          background-color: $dark-gray;
        }

        .contact-menu-text {
          background-color: $light-gray;
          margin-left: 10px;
          color: $dark-gray;
        }
      }
      .contact-menu-deco {
        width: 100%;
        height: 2px;
      }
    }
    .contact-menu-items:hover {
      box-shadow: 1px 1px 3px $dark-gray;
    }
    .contact-menu-principal:hover .contact-menu-items,
    .contact-menu-principal:hover .contact-menu-deco,
    .contact-menu-principal:hover .contact-menu-text {
      animation-name: scale-up-hor-left;
      animation-duration: 0.1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      background-color: $dark-gray;
      color: $light-gray;
      cursor: pointer;
    }

    @keyframes scale-up-hor-left {
      0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
      100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
    }
  }

  /////////////////////////////////
  /* SOUS MENU CONTACT */
  /////////////////////////////////
  .contact-menu-window1,
  .contact-menu-window2,
  .contact-menu-window3,
  .contact-menu-window4 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 30px solid $dark-gray;
    background-color: $window-gray;
    padding: 10px 10px 0px 10px;
    box-shadow: 0px 0px 5px $dark-gray;
    animation: scale-up-window 0.1s 1 forwards;
  }

  .contact-menu-box-principal {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image-box-contact-menu1,
  .image-box-contact-menu2,
  .image-box-contact-menu3,
  .image-box-contact-menu4 {
    height: 240px;
    width: 100%;
  }
  .image-box-contact-menu1 {
    background-image: url(../images/GitHub16-9.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image-box-contact-menu2 {
    background-image: url(../images/GitHubOri.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image-box-contact-menu3 {
    background-color: rgb(16, 218, 93);
  }
  .image-box-contact-menu4 {
    background-color: rgb(19, 16, 218);
  }

  .contact-menu-text-box {
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
  .contact-menu-link-box {
    align-self: flex-end;
    color: $dark-gray;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
  }

  .contact-menu-link-box:hover {
    text-decoration: underline solid $dark-gray 2px;
  }

  /////////////////////////////////
  ///// /* Reboot Box */
  /////////////////////////////////
  #reboot-box {
    position: absolute;
    width: 450px;
    height: 340px;
    z-index: 9;
    animation: scale-up-center 0.1s 1 forwards;

    @keyframes scale-up-center {
      0% {
        -webkit-transform: translate(
            calc((100vw - 450px) / 2),
            calc((100vh - 340px) / 2)
          )
          scale(0.5);
        transform: translate(
            calc((100vw - 450px) / 2),
            calc((100vh - 340px) / 2)
          )
          scale(0.5);
      }
      100% {
        -webkit-transform: translate(
            calc((100vw - 450px) / 2),
            calc((100vh - 340px) / 2)
          )
          scale(1);
        transform: translate(
            calc((100vw - 450px) / 2),
            calc((100vh - 340px) / 2)
          )
          scale(1);
      }
    }

    #reboot-title-box {
      background-color: #4b483f;
      height: 25%;

      #reboot-title-text {
        text-align: center;
        transform: translateY(calc((50% + 1rem) / 2));
        color: $light-gray;
        font-size: 2rem;
      }
    }

    #reboot-text-box {
      background-color: $light-gray;
      display: flex;
      height: 75%;
      flex-direction: column;
      justify-content: space-around;

      #reboot-message {
        color: $dark-gray;
        text-align: center;
        padding: 0px 15px 0px 15px;
      }

      #reboot-text-mini-box {
        display: flex;
        justify-content: space-around;

        .reboot-text-1 {
          width: 40%;
          text-align-last: center;
          background-color: $light-gray;
          color: $dark-gray;
          cursor: pointer;
          border: 1px solid hsla(45, 9%, 27%, 0.5);
        }

        .reboot-text-1:hover {
          background-color: $dark-gray;
          color: $light-gray;
        }
        .reboot-text-2 {
          width: 40%;
          background-color: $light-gray;
          color: $dark-gray;
          text-align: center;
          cursor: pointer;
          border: 1px solid hsla(45, 9%, 27%, 0.5);
        }

        .reboot-text-2:hover {
          background-color: $dark-gray;
          color: $light-gray;
        }
      }
    }
  }

  /* Animations */

  @keyframes scale-up-window {
    0% {
      transform: translateX(50px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .slide-right1 {
    -webkit-animation: slide-right1 0.05s linear both;
    animation: slide-right1 0.05s linear both;
  }

  @-webkit-keyframes slide-right1 {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @keyframes slide-right1 {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  .slide-right2 {
    -webkit-animation: slide-right2 0.09s linear both;
    animation: slide-right2 0.09s linear both;
  }

  @-webkit-keyframes slide-right2 {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @keyframes slide-right2 {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  .slide-right3 {
    -webkit-animation: slide-right3 0.13s linear both;
    animation: slide-right3 0.13s linear both;
  }

  @-webkit-keyframes slide-right3 {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @keyframes slide-right3 {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  .slide-right4 {
    -webkit-animation: slide-right4 0.17s linear both;
    animation: slide-right4 0.17s linear both;
  }

  @-webkit-keyframes slide-right4 {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  @keyframes slide-right4 {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }

  // ////Animation mobile//////
  .slide-left-mobile {
    -webkit-animation: slide-left-mobile 0.1s linear both;
    animation: slide-left-mobile 0.1s linear both;
  }

  @-webkit-keyframes slide-left-mobile {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(-600px);
      transform: translateX(-600px);
    }
  }
  @keyframes slide-left-mobile {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(-600px);
      transform: translateX(-600px);
    }
  }
  // right mobile
  .slide-right-mobile {
    -webkit-animation: slide-right-mobile 0.1s linear both;
    animation: slide-right-mobile 0.1s linear both;
  }

  @-webkit-keyframes slide-right-mobile {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(800px);
      transform: translateX(800px);
    }
  }
  @keyframes slide-right-mobile {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(800px);
      transform: translateX(800px);
    }
  }

  // FORM
  .form-button {
    color: $dark-gray;
    background-color: $light-gray;
    border: 1px solid $dark-gray;
  }
  .form-text {
    color: $dark-gray;
    textarea {
      width: 35vw;
      height: 15vh;
    }
    input {
      width: 25vw;
    }
  }

  /* Responsive */

  @media (max-width: 1000px) {
    .navbar-items-main {
      display: flex;
      justify-content: space-between;

      .navbar-items-mini-main {
        display: flex;
        justify-content: space-between;
        gap: 0px;
        margin-right: 10px;
      }
    }
  }

  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////                                VERSION MOBILE
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  /// ////////////////////////////////////////////////////////////////////////////////////////////////////
  @media (max-width: 800px) {
    // FORM
    .form-button-mobile {
      color: $dark-gray;
      background-color: $light-gray;
      border: 1px solid $dark-gray;
      margin-left: 4px;
    }
    .form-text-mobile {
      margin-left: 4px;
      color: $dark-gray;
      textarea {
        width: 70vw;
        height: 20vh;
      }
      input {
        width: 70vw;
      }
    }

    // START BTN
    .mobile-start-playbtn {
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 998;

      .mobile-playbtn-box1-animout {
        animation: rotata 0.5s 1 forwards;
      }

      .mobile-playbtn-box2-animout {
        animation: scale 0.5s 1 forwards;
      }
      .mobile-playbtn-anim {
        animation: glitchstart 0.5s 1 forwards;
      }

      .mobile-playbtn-box1 {
        width: 45px;
        height: 45px;
        background-color: rgba(240, 248, 255, 0);
        border: 1px solid white;
        position: absolute;
        transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
          rotate(45deg);
      }

      .mobile-playbtn-box2 {
        width: 50px;
        height: 50px;
        border: 1px solid white;
        position: absolute;
        transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
          rotate(45deg);
      }

      .mobile-playbtn {
        background-image: url(../images/iconmonstr-media-control-48.svg);
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
          brightness(101%) contrast(103%);
        width: 25px;
        height: 25px;
        transform: translate(
          calc((100vw - 18px) / 2),
          calc((100vh - 25px) / 2)
        );
      }

      @keyframes scale {
        0% {
          transform: translate(
              calc((100vw - 51px) / 2),
              calc((100vh - 51px) / 2)
            )
            scale(1) rotate(45deg);
        }
        100% {
          transform: translate(
              calc((100vw - 51px) / 2),
              calc((100vh - 51px) / 2)
            )
            scale(0.8) rotate(45deg);
        }
      }
      @keyframes scale-out {
        0% {
          transform: translate(
              calc((100vw - 51px) / 2),
              calc((100vh - 51px) / 2)
            )
            scale(0.8) rotate(45deg);
        }
        100% {
          transform: translate(
              calc((100vw - 51px) / 2),
              calc((100vh - 51px) / 2)
            )
            scale(1) rotate(45deg);
        }
      }
      @keyframes rotata {
        0% {
          transform: translate(
              calc((100vw - 46px) / 2),
              calc((100vh - 46px) / 2)
            )
            rotate(45deg);
        }
        100% {
          transform: translate(
              calc((100vw - 46px) / 2),
              calc((100vh - 46px) / 2)
            )
            rotate(90deg);
        }
      }
      @keyframes rotata-out {
        0% {
          transform: translate(
              calc((100vw - 46px) / 2),
              calc((100vh - 46px) / 2)
            )
            rotate(90deg);
        }
        100% {
          transform: translate(
              calc((100vw - 46px) / 2),
              calc((100vh - 46px) / 2)
            )
            rotate(45deg);
        }
      }

      @keyframes glitchstart {
        0% {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        5% {
          filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        10% {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        40% {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        45% {
          filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        50% {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        65% {
          filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        70% {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        90% {
          filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        93% {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
        100% {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
            brightness(101%) contrast(103%);
        }
      }
    }
    // REBOOT BOX
    #mobile-reboot-box {
      position: absolute;
      width: 80vw;
      height: 40vh;
      z-index: 9;
      animation: scale-up-center 0.1s 1 forwards;

      @keyframes scale-up-center {
        0% {
          -webkit-transform: translate(
              calc((100vw - 80vw) / 2),
              calc((100vh - 40vh) / 2)
            )
            scale(0.5);
          transform: translate(
              calc((100vw - 80vw) / 2),
              calc((100vh - 40vh) / 2)
            )
            scale(0.5);
        }
        100% {
          -webkit-transform: translate(
              calc((100vw - 80vw) / 2),
              calc((100vh - 40vh) / 2)
            )
            scale(1);
          transform: translate(
              calc((100vw - 80vw) / 2),
              calc((100vh - 40vh) / 2)
            )
            scale(1);
        }
      }

      #mobile-reboot-title-box {
        background-color: #4b483f;
        height: 25%;

        #mobile-reboot-title-text {
          text-align: center;
          transform: translateY(calc((50% + 1rem) / 2));
          color: $light-gray;
          font-size: 2rem;
        }
      }

      #mobile-reboot-text-box {
        background-color: $light-gray;
        display: flex;
        height: 75%;
        flex-direction: column;
        justify-content: space-around;

        #mobile-reboot-message {
          color: $dark-gray;
          text-align: center;
          padding: 0px 15px 0px 15px;
        }

        #mobile-reboot-text-mini-box {
          display: flex;
          justify-content: space-around;

          .mobile-reboot-text-1 {
            width: 40%;
            text-align-last: center;
            background-color: $light-gray;
            color: $dark-gray;
            cursor: pointer;
            border: 1px solid hsla(45, 9%, 27%, 0.5);
          }

          .mobile-reboot-text-1:hover {
            background-color: $dark-gray;
            color: $light-gray;
          }
          .mobile-reboot-text-2 {
            width: 40%;
            background-color: $light-gray;
            color: $dark-gray;
            text-align: center;
            cursor: pointer;
            border: 1px solid hsla(45, 9%, 27%, 0.5);
          }

          .mobile-reboot-text-2:hover {
            background-color: $dark-gray;
            color: $light-gray;
          }
        }
      }
    }

    ///////////////////////////////////
    /// ///////MAIN MOBILE
    /// /////////////////////////
    #mobile-presentation {
      height: 10vh;
      display: flex;
      gap: 10vw;
      align-items: center;
      justify-content: center;

      .bienvenu {
        font-size: 2rem;
        font-weight: bold;
        color: $dark-gray;
      }
      .mobile-presentation-btn-menu {
        background-color: $light-gray;
        display: flex;
        flex-direction: column;
        width: 35vw;
        height: 5vh;
        .mobile-presentation-btn-menu-barre {
          height: 5px;
          background-color: $dark-gray;
        }
        .mobile-presentation-btn-menu-text {
          color: $dark-gray;
          text-align: center;
        }
      }
      .mobile-presentation-btn-retour {
        background-color: $light-gray;
        display: flex;
        flex-direction: column;
        width: 35vw;
        height: 5vh;
        .mobile-presentation-btn-retour-barre {
          height: 5px;
          background-color: $dark-gray;
        }
        .mobile-presentation-btn-retour-text {
          color: $dark-gray;
          text-align: center;
        }
      }
    }

    .mobile-window-principal {
      height: 75vh;
      display: flex;
      align-items: center;
      gap: 30px;
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      overflow: hidden;

      .menu-deco {
        display: flex;
        gap: 4px;
        height: 70vh;

        .menu-deco-1 {
          width: 10px;
          background-color: $light-gray;
        }

        .menu-deco-2 {
          width: 4px;
          background-color: $light-gray;
        }
      }

      /////////////////////////////////
      /// /////NAV MENU MOBILE
      /// /////////////////////////////
      .mobile-nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70vh;
        width: 75vw;
        .mobile-nav-menu-principal {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 3px;

          .mobile-nav-menu-items {
            height: 40px;
            width: 100%;
            background-color: $light-gray;
            display: flex;
            gap: 5px;
            align-items: center;

            .mobile-nav-menu-barre {
              height: 100%;
              width: 10px;
              background-color: $dark-gray;
            }

            .mobile-nav-menu-text {
              background-color: $light-gray;
              margin-left: 10px;
              color: $dark-gray;
            }
          }
          .mobile-nav-menu-deco {
            width: 100%;
            height: 2px;
          }
        }
        .mobile-nav-menu-items:hover {
          box-shadow: 1px 1px 3px $dark-gray;
        }
        .mobile-nav-menu-principal:hover .mobile-nav-menu-items,
        .mobile-nav-menu-principal:hover .mobile-nav-menu-deco,
        .mobile-nav-menu-principal:hover .mobile-nav-menu-text {
          animation-name: scale-up-hor-left;
          animation-duration: 0.1s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          background-color: $dark-gray;
          color: $light-gray;
          cursor: pointer;
        }

        @keyframes scale-up-hor-left {
          0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
          100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
        }
      }
      /////////////////////////////////
      /// /////PROFIL MENU MOBILE
      /// /////////////////////////////

      .mobile-profil-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70vh;
        width: 75vw;
        .mobile-profil-menu-principal {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 3px;

          .mobile-profil-menu-items {
            height: 40px;
            width: 100%;
            background-color: $light-gray;
            display: flex;
            gap: 5px;
            align-items: center;

            .mobile-profil-menu-barre {
              height: 100%;
              width: 10px;
              background-color: $dark-gray;
            }

            .mobile-profil-menu-text {
              background-color: $light-gray;
              margin-left: 10px;
              color: $dark-gray;
            }
          }
          .mobile-profil-menu-deco {
            width: 100%;
            height: 2px;
          }
        }
        .mobile-profil-menu-items:hover {
          box-shadow: 1px 1px 3px $dark-gray;
        }
        .mobile-profil-menu-principal:hover .mobile-profil-menu-items,
        .mobile-profil-menu-principal:hover .mobile-profil-menu-deco,
        .mobile-profil-menu-principal:hover .mobile-profil-menu-text {
          animation-name: scale-up-hor-left;
          animation-duration: 0.1s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          background-color: $dark-gray;
          color: $light-gray;
          cursor: pointer;
        }

        @keyframes scale-up-hor-left {
          0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
          100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
        }
      }

      /////////////////////////////////
      /// /////PROFIL SOUS MENU MOBILE
      /// //////////////////////////
      .mobile-profil-sous-menu-window1,
      .mobile-profil-sous-menu-window2,
      .mobile-profil-sous-menu-window3,
      .mobile-profil-sous-menu-window4 {
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $window-gray;
        box-shadow: 0px 0px 5px $dark-gray;
        animation: scale-up-window 0.1s 1 forwards;
      }

      .mobile-profil-sous-menu-titre {
        background-color: $dark-gray;
        color: $light-gray;
        font-size: 1.6rem;
        padding-left: 20px;
      }

      .mobile-profil-sous-menu-box-principal {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px 15px 0px 15px;
      }

      .banniere-zerg-mobile {
        width: 100%;
        justify-self: flex-end;
        margin-top: auto;
      }

      .mobile-profil-image-box-sous-menu1,
      .mobile-profil-image-box-sous-menu2,
      .mobile-profil-image-box-sous-menu3,
      .mobile-profil-image-box-sous-menu4 {
        height: 30vh;
        width: 100%;
      }
      .mobile-profil-image-box-sous-menu1 {
        background-image: url(../images/OmniFood4-3.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .mobile-profil-image-box-sous-menu2 {
        background-image: url(../images/guitare4-3.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .mobile-profil-image-box-sous-menu3 {
        background-image: url(../images/new-toy-star-crafts.gif);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .mobile-profil-sous-menu-text-box {
        font-size: 0.8rem;
        letter-spacing: 2px;
      }
      .mobile-profil-sous-menu-link-box {
        align-self: flex-end;
        color: $dark-gray;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.3rem;
      }

      .mobile-profil-sous-menu-link-box:hover {
        text-decoration: underline solid $dark-gray 2px;
      }
      /////////////////////////////////
      /// /////PROJET MENU MOBILE
      /// //////////////////////////

      .mobile-projet-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70vh;
        width: 75vw;
        .mobile-projet-menu-principal {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 3px;

          .mobile-projet-menu-items {
            height: 40px;
            width: 100%;
            background-color: $light-gray;
            display: flex;
            gap: 5px;
            align-items: center;

            .mobile-projet-menu-barre {
              height: 100%;
              width: 10px;
              background-color: $dark-gray;
            }

            .mobile-projet-menu-text {
              background-color: $light-gray;
              margin-left: 10px;
              color: $dark-gray;
            }
          }
          .mobile-projet-menu-deco {
            width: 100%;
            height: 2px;
          }
        }
        .mobile-projet-menu-items:hover {
          box-shadow: 1px 1px 3px $dark-gray;
        }
        .mobile-projet-menu-principal:hover .mobile-projet-menu-items,
        .mobile-projet-menu-principal:hover .mobile-projet-menu-deco,
        .mobile-projet-menu-principal:hover .mobile-projet-menu-text {
          animation-name: scale-up-hor-left;
          animation-duration: 0.1s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          background-color: $dark-gray;
          color: $light-gray;
          cursor: pointer;
        }

        @keyframes scale-up-hor-left {
          0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
          100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
        }
      }

      /////////////////////////////////
      /// /////CONTACT MENU MOBILE
      /// //////////////////////////
      .mobile-contact-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70vh;
        width: 75vw;
        .mobile-contact-menu-principal {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 3px;

          .mobile-contact-menu-items {
            height: 40px;
            width: 100%;
            background-color: $light-gray;
            display: flex;
            gap: 5px;
            align-items: center;

            .mobile-contact-menu-barre {
              height: 100%;
              width: 10px;
              background-color: $dark-gray;
            }

            .mobile-contact-menu-text {
              background-color: $light-gray;
              margin-left: 10px;
              color: $dark-gray;
            }
          }
          .mobile-contact-menu-deco {
            width: 100%;
            height: 2px;
          }
        }
        .mobile-contact-menu-items:hover {
          box-shadow: 1px 1px 3px $dark-gray;
        }
        .mobile-contact-menu-principal:hover .mobile-contact-menu-items,
        .mobile-contact-menu-principal:hover .mobile-contact-menu-deco,
        .mobile-contact-menu-principal:hover .mobile-contact-menu-text {
          animation-name: scale-up-hor-left;
          animation-duration: 0.1s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          background-color: $dark-gray;
          color: $light-gray;
          cursor: pointer;
        }

        @keyframes scale-up-hor-left {
          0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
          100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
        }
      }

      //////////////////////////////////
      /// /////SOUS MENU PROJET MOBILE
      /// //////////////////////////////
      .mobile-sous-menu-window1,
      .mobile-sous-menu-window2,
      .mobile-sous-menu-window3,
      .mobile-sous-menu-window4 {
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $window-gray;
        box-shadow: 0px 0px 5px $dark-gray;
        animation: scale-up-window 0.1s 1 forwards;
      }

      .mobile-sous-menu-titre {
        background-color: $dark-gray;
        color: $light-gray;
        font-size: 1.6rem;
        padding-left: 20px;
      }

      .mobile-sous-menu-box-principal {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px 15px 0px 15px;
      }

      .mobile-image-box-sous-menu1,
      .mobile-image-box-sous-menu2,
      .mobile-image-box-sous-menu3,
      .mobile-image-box-sous-menu4 {
        height: 30vh;
        width: 100%;
      }
      .mobile-image-box-sous-menu1 {
        background-image: url(../images/OmniFood4-3.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .mobile-image-box-sous-menu2 {
        background-image: url(../images/memorygame4-3.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .mobile-image-box-sous-menu3 {
        background-color: rgb(16, 218, 93);
      }
      .mobile-image-box-sous-menu4 {
        background-color: rgb(19, 16, 218);
      }

      .mobile-sous-menu-text-box {
        font-size: 0.8rem;
        letter-spacing: 2px;
      }
      .mobile-sous-menu-link-box {
        align-self: flex-end;
        color: $dark-gray;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.3rem;
      }

      .mobile-sous-menu-link-box:hover {
        text-decoration: underline solid $dark-gray 2px;
      }

      // ///////////////////////
      /// SOUS MENU CONTACT
      /// //////////////////////
      .mobile-contact-sous-menu-window1,
      .mobile-contact-sous-menu-window2,
      .mobile-contact-sous-menu-window3,
      .mobile-contact-sous-menu-window4 {
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $window-gray;
        box-shadow: 0px 0px 5px $dark-gray;
        animation: scale-up-window 0.1s 1 forwards;
      }

      .mobile-contact-sous-menu-titre {
        background-color: $dark-gray;
        color: $light-gray;
        font-size: 1.6rem;
        padding-left: 20px;
      }

      .mobile-contact-sous-menu-box-principal {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px 15px 0px 15px;
      }

      .mobile-contact-image-box-sous-menu1,
      .mobile-contact-image-box-sous-menu2,
      .mobile-contact-image-box-sous-menu3,
      .mobile-contact-image-box-sous-menu4 {
        height: 30vh;
        width: 100%;
      }
      .mobile-contact-image-box-sous-menu1 {
        background-image: url(../images/GitHub4-3.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .mobile-contact-image-box-sous-menu2 {
        background-image: url(../images/GitHub4-3.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .mobile-contact-image-box-sous-menu3 {
        background-color: rgb(16, 218, 93);
      }
      .mobile-contact-image-box-sous-menu4 {
        background-color: rgb(19, 16, 218);
      }

      .mobile-contact-sous-menu-text-box {
        font-size: 0.8rem;
        letter-spacing: 2px;
      }
      .mobile-contact-sous-menu-link-box {
        align-self: flex-end;
        color: $dark-gray;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.3rem;
      }

      .mobile-contact-sous-menu-link-box:hover {
        text-decoration: underline solid $dark-gray 2px;
      }
    }
  }
}
