@charset "UTF-8";
/* Colors */
/* gris foncé : #4a473e */
/* gris clair : #afaa96 */
/* body color : #b0ab964d */
/* Javascript class */
.display-none {
  display: none !important;
}

/* body - global */
@font-face {
  font-family: Automata;
  src: url(ITC\ Benguiat\ Book.ttf);
}
body {
  background-image: url(../images/nier-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(176, 171, 150, 0.6039215686);
  font-family: "Quantico";
  /* font-family: "automata";
  font-family: "Press Start 2P"; */
  letter-spacing: 4px;
  font-size: 1.4rem;
  /* nav bar test */
  /* NAV BAR */
  /* MENU PROJET */
  /*   // Reprendre ici avec SASS */
  /* Sous menu */
  /* SECTION */
  /* Reboot Box */
  /* Animations */
  /* Responsive */
}
body #grain {
  background-image: url(../images/graingif.gif);
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.05;
  pointer-events: none;
}
body .grid-back {
  background-image: url(../images/svggrid.svg);
  z-index: 998;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
  pointer-events: none;
}
body .navbar-items-main {
  display: flex;
  justify-content: space-between;
}
body .navbar-items-main .navbar-items-mini-main {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 50%;
  margin-right: 30px;
}
body .navbar-items-main .navbar-items-box {
  display: flex;
  gap: 16px;
}
body .navbar-items-main .navbar-items-box:hover,
body .navbar-items-main .navbar-items-box:hover .navbar-items-text {
  background-color: #4a473e;
  color: #afaa96;
  box-shadow: 2px 2px 5px #4a473e;
  cursor: pointer;
  gap: 0px;
  animation-name: nav-bar-anim-text;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
body .navbar-items-main .navbar-items-deco {
  width: 5px;
  background-color: #4a473e;
  height: 100%;
}
body .navbar-items-main .navbar-items-text {
  background-color: #afaa96;
  padding: 12px 24px;
}
@keyframes nav-bar-anim-text {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1.1);
  }
}
body .nav-deco {
  display: flex;
  gap: 4px;
}
body .nav-deco-1 {
  height: 2.5rem;
  width: 10px;
  background-color: #afaa96;
}
body .nav-deco-2 {
  height: 2.5rem;
  width: 4px;
  background-color: #afaa96;
}
body .dot-deco {
  width: 100%;
  height: 15.7px;
  background-image: url(../images/nier-border.svg);
}
body .projet-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .projet-menu .projet-menu-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3px;
}
body .projet-menu .projet-menu-principal .projet-menu-items {
  height: 40px;
  width: 100%;
  background-color: #afaa96;
  display: flex;
  gap: 5px;
  align-items: center;
}
body .projet-menu .projet-menu-principal .projet-menu-items .projet-menu-barre {
  height: 100%;
  width: 10px;
  background-color: #4a473e;
}
body .projet-menu .projet-menu-principal .projet-menu-items .projet-menu-text {
  background-color: #afaa96;
  margin-left: 10px;
}
body .projet-menu .projet-menu-principal .projet-menu-deco {
  width: 100%;
  height: 2px;
}
body .projet-menu .projet-menu-items:hover {
  box-shadow: 1px 1px 3px #4a473e;
}
body .projet-menu .projet-menu-principal:hover .projet-menu-items,
body .projet-menu .projet-menu-principal:hover .projet-menu-deco,
body .projet-menu .projet-menu-principal:hover .projet-menu-text {
  animation-name: scale-up-hor-left;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #4a473e;
  color: #afaa96;
  cursor: pointer;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
body .sous-menu-window1,
body .sous-menu-window2,
body .sous-menu-window3,
body .sous-menu-window4 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .sous-menu-box-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .image-box-sous-menu1,
body .image-box-sous-menu2,
body .image-box-sous-menu3,
body .image-box-sous-menu4 {
  height: 325px;
  width: 100%;
}
body .image-box-sous-menu1 {
  background-image: url(../images/OmniFood.PNG);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body .image-box-sous-menu2 {
  background-color: rgb(218, 198, 16);
}
body .image-box-sous-menu3 {
  background-color: rgb(16, 218, 93);
}
body .image-box-sous-menu4 {
  background-color: rgb(19, 16, 218);
}
body .sous-menu-text-box {
  font-size: 1rem;
  letter-spacing: 2px;
}
body .sous-menu-link-box {
  align-self: flex-end;
  color: #4a473e;
  text-decoration: none;
  cursor: pointer;
}
body .sous-menu-link-box:hover {
  -webkit-text-decoration: underline solid #4a473e 2px;
          text-decoration: underline solid #4a473e 2px;
}
body section {
  height: 60vh;
  margin-bottom: 10vh;
}
body section div {
  /* background-color: #6633990a; */
}
body .menu-deco {
  display: flex;
  gap: 4px;
}
body .menu-deco-1 {
  width: 10px;
  /* padding: 8px 0px; */
  background-color: #afaa96;
}
body .menu-deco-2 {
  width: 4px;
  background-color: #afaa96;
}
body #reboot-box {
  position: absolute;
  width: 450px;
  height: 340px;
  z-index: 9;
  animation: scale-up-center 0.1s 1 forwards;
}
@keyframes scale-up-center {
  0% {
    transform: translate(calc((100vw - 450px) / 2), calc((100vh - 340px) / 2)) scale(0.5);
  }
  100% {
    transform: translate(calc((100vw - 450px) / 2), calc((100vh - 340px) / 2)) scale(1);
  }
}
body #reboot-title-box {
  background-color: #4b483f;
  height: 25%;
}
body #reboot-title-text {
  text-align: center;
  transform: translateY(calc((50% + 1rem) / 2));
  color: #afaa96;
  font-size: 2rem;
}
body #reboot-text-box {
  background-color: #afaa96;
  display: flex;
  height: 75%;
  flex-direction: column;
  justify-content: space-around;
}
body #reboot-text-mini-box {
  display: flex;
  justify-content: space-around;
}
body #reboot-message {
  color: #4a473e;
  text-align: center;
  padding: 0px 15px 0px 15px;
}
body .reboot-text-1 {
  width: 40%;
  -moz-text-align-last: center;
       text-align-last: center;
  background-color: #afaa96;
  color: #4a473e;
  cursor: pointer;
  border: 1px solid hsla(45, 9%, 27%, 0.5);
}
body .reboot-text-1:hover {
  background-color: #4a473e;
  color: #afaa96;
}
body .reboot-text-2 {
  width: 40%;
  background-color: #afaa96;
  color: #4a473e;
  text-align: center;
  cursor: pointer;
  border: 1px solid hsla(45, 9%, 27%, 0.5);
}
body .reboot-text-2:hover {
  background-color: #4a473e;
  color: #afaa96;
}
@media (max-width: 576px) {
  body .projet-menu {
    display: none;
  }
  body .sous-menu {
    display: none;
  }
}/*# sourceMappingURL=sass.css.map */