$body-color: #b0ab969a;
$light-gray: #afaa96;
$dark-gray: #4a473e;

/* Javascript class */
.display-none {
  display: none !important;
}

.active {
  background-color: none;
  cursor: pointer;
  color: $light-gray;
  .projet-menu-deco,
  .projet-menu-items,
  .projet-menu-barre,
  .projet-menu-text {
    background-color: $dark-gray !important;
    color: $light-gray !important;
    box-shadow: none !important;
  }
  &:hover {
    .projet-menu-deco,
    .projet-menu-items,
    .projet-menu-barre,
    .projet-menu-text {
      background-color: $dark-gray !important;
      color: $light-gray !important;
      animation: none !important;
    }
  }
}
.active-profil {
  background-color: none;
  cursor: pointer;
  color: $light-gray;
  .profil-menu-deco,
  .profil-menu-items,
  .profil-menu-barre,
  .profil-menu-text {
    background-color: $dark-gray !important;
    color: $light-gray !important;
    box-shadow: none !important;
  }
  &:hover {
    .profil-menu-deco,
    .profil-menu-items,
    .profil-menu-barre,
    .profil-menu-text {
      background-color: $dark-gray !important;
      color: $light-gray !important;
      animation: none !important;
    }
  }
}
.active-contact {
  background-color: none;
  cursor: pointer;
  color: $light-gray;
  .contact-menu-deco,
  .contact-menu-items,
  .contact-menu-barre,
  .contact-menu-text {
    background-color: $dark-gray !important;
    color: $light-gray !important;
    box-shadow: none !important;
  }
  &:hover {
    .contact-menu-deco,
    .contact-menu-items,
    .contact-menu-barre,
    .contact-menu-text {
      background-color: $dark-gray !important;
      color: $light-gray !important;
      animation: none !important;
    }
  }
}

.active-nav {
  background-color: none;
  cursor: pointer;
  color: $light-gray;
  .nav-menu-deco,
  .nav-menu-items,
  .nav-menu-barre,
  .nav-menu-text {
    background-color: $dark-gray !important;
    color: $light-gray !important;
    box-shadow: none !important;
  }
  &:hover {
    .nav-menu-deco,
    .nav-menu-items,
    .nav-menu-barre,
    .nav-menu-text {
      background-color: $dark-gray !important;
      color: $light-gray !important;
      animation: none !important;
    }
  }
}

/* body - global */

@font-face {
  font-family: Automata;
  src: url(ITC\ Benguiat\ Book.ttf);
}

body {
  background-image: url(../images/nier-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $body-color;
  font-family: "Quantico";
  letter-spacing: 3px;
  font-size: 1.4rem;

  #grain {
    background-image: url(../images/graingif.gif);
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.05;
    pointer-events: none;
  }

  .grid-back {
    background-image: url(../images/svggrid.svg);
    z-index: 998;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    pointer-events: none;
  }

  // Loading Screen
  .loadbox {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 997;
    pointer-events: none;
  }

  .backimg {
    background-color: rgb(0, 0, 0);
  }

  .loadbox div {
    height: 100vh;
    width: 100vw;
    position: absolute;
  }

  .load-1 {
    background: url(../images/bg_block01_bk.png) left top / min(150%, 2000px)
      repeat;
  }
  .load-2 {
    background: url(../images/bg_block02_bk.png) left top / min(150%, 2000px)
      repeat;
  }
  .load-3 {
    background: url(../images/bg_block03_bk.png) left top / min(150%, 2000px)
      repeat;
  }
  .load-4 {
    background: url(../images/bg_block04_bk.png) left top / min(150%, 2000px)
      repeat;
  }
  .load-5 {
    background: url(../images/bg_block05_bk.png) left top / min(150%, 2000px)
      repeat;
  }
  .load-6 {
    background: url(../images/bg_block06_bk.png) left top / min(150%, 2000px)
      repeat;
  }
  .load-7 {
    background: url(../images/bg_block07_bk.png) left top / min(150%, 2000px)
      repeat;
  }

  // Start Button
  .start-playbtn {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 998;
    cursor: pointer;
  }
  .start-playbtn:hover .playbtn-box1 {
    animation: rotata 0.5s 1 forwards;
  }

  .playbtn-box1-animout {
    animation: rotata-out 0.5s 1 forwards;
  }
  .start-playbtn:hover .playbtn-box2 {
    animation: scale 0.5s 1 forwards;
  }
  .playbtn-box2-animout {
    animation: scale-out 0.5s 1 forwards;
  }
  .playbtn-anim {
    animation: glitchstart 0.5s 1 forwards;
  }

  .playbtn-box1 {
    width: 45px;
    height: 45px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid white;
    position: absolute;
    transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
      rotate(45deg);
  }

  .playbtn-box2 {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    position: absolute;
    transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
      rotate(45deg);
  }

  .playbtn {
    background-image: url(../images/iconmonstr-media-control-48.svg);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
      brightness(101%) contrast(103%);
    width: 25px;
    height: 25px;
    transform: translate(calc((100vw - 18px) / 2), calc((100vh - 25px) / 2));
  }

  @keyframes scale {
    0% {
      transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
        scale(1) rotate(45deg);
    }
    100% {
      transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
        scale(0.8) rotate(45deg);
    }
  }
  @keyframes scale-out {
    0% {
      transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
        scale(0.8) rotate(45deg);
    }
    100% {
      transform: translate(calc((100vw - 51px) / 2), calc((100vh - 51px) / 2))
        scale(1) rotate(45deg);
    }
  }
  @keyframes rotata {
    0% {
      transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
        rotate(45deg);
    }
    100% {
      transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
        rotate(90deg);
    }
  }
  @keyframes rotata-out {
    0% {
      transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
        rotate(90deg);
    }
    100% {
      transform: translate(calc((100vw - 46px) / 2), calc((100vh - 46px) / 2))
        rotate(45deg);
    }
  }

  @keyframes glitchstart {
    0% {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    5% {
      filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    10% {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    40% {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    45% {
      filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    50% {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    65% {
      filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    70% {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    90% {
      filter: invert(5%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    93% {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
    100% {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
        brightness(101%) contrast(103%);
    }
  }
  /* nav bar test */
  .navbar-items-main {
    display: flex;
    justify-content: space-between;
    .navbar-items-mini-main {
      display: flex;
      justify-content: space-between;
      gap: 80px;
      width: 50%;
      margin-right: 30px;
    }
    .navbar-items-box {
      display: flex;
      gap: 16px;
    }
    .navbar-items-box:hover,
    .navbar-items-box:hover .navbar-items-text {
      background-color: $dark-gray;
      color: $light-gray;
      box-shadow: 2px 2px 5px $dark-gray;
      cursor: pointer;
      gap: 0px;
      animation-name: nav-bar-anim-text;
      animation-duration: 0.1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    .navbar-items-deco {
      width: 5px;
      background-color: $dark-gray;
      height: 100%;
    }
    .navbar-items-text {
      background-color: $light-gray;
      padding: 12px 24px;
    }

    @keyframes nav-bar-anim-text {
      0% {
        transform: scaleX(1);
      }
      100% {
        transform: scaleX(1.1);
      }
    }
  }
  /////////////////////////////////
  /* NAV BAR */
  /////////////////////////////////
  .nav-deco {
    display: flex;
    gap: 4px;
  }

  .nav-deco-1 {
    height: 2.5rem;
    width: 10px;
    background-color: $light-gray;
  }
  .nav-deco-2 {
    height: 2.5rem;
    width: 4px;
    background-color: $light-gray;
  }

  .dot-deco {
    width: 100%;
    height: 15.7px;
    background-image: url(../images/nier-border.svg);
  }

  // ///////////////////////////////////
  // TEST NAV
  //////////////////////////////////
  .nav-menu-principal {
    display: flex;
    gap: 5px;
    height: 60px;

    .nav-menu-deco {
      width: 4px;
      height: 100%;
      // background-color: $dark-gray;
    }
    .nav-menu-items {
      background-color: $light-gray;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 150px;
      .nav-menu-barre {
        height: 5px;
        background-color: $dark-gray;
      }
      .nav-menu-text {
        color: $dark-gray;
        text-align: center;
      }
    }
  }

  @keyframes scale-up-nav {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
    }
  }

  .nav-menu-principal:hover .nav-menu-items,
  .nav-menu-principal:hover .nav-menu-deco,
  .nav-menu-principal:hover .nav-menu-text {
    animation-name: scale-up-nav;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: $dark-gray;
    cursor: pointer;
    color: $light-gray;
  }

  /////////////////////////////////
  /* SECTION */
  /////////////////////////////////
  section {
    height: 60vh;
    margin-bottom: 10vh;

    .menu-deco {
      display: flex;
      gap: 4px;

      .menu-deco-1 {
        width: 10px;
        /* padding: 8px 0px; */
        background-color: $light-gray;
      }

      .menu-deco-2 {
        width: 4px;
        background-color: $light-gray;
      }
    }

    /////////////////////////////////
    /// MENU PROFIL
    /// /////////////////////////
    .profil-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .profil-menu-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3px;
        .profil-menu-items {
          height: 40px;
          width: 100%;
          background-color: $light-gray;
          display: flex;
          gap: 5px;
          align-items: center;

          .profil-menu-barre {
            height: 100%;
            width: 10px;
            background-color: $dark-gray;
          }

          .profil-menu-text {
            background-color: $light-gray;
            margin-left: 10px;
            color: $dark-gray;
          }
        }
        .profil-menu-deco {
          width: 100%;
          height: 2px;
        }
      }
      .profil-menu-items:hover {
        box-shadow: 1px 1px 3px $dark-gray;
      }
      .profil-menu-principal:hover .profil-menu-items,
      .profil-menu-principal:hover .profil-menu-deco,
      .profil-menu-principal:hover .profil-menu-text {
        animation-name: scale-up-hor-left;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background-color: $dark-gray;
        color: $light-gray;
        cursor: pointer;
      }

      @keyframes scale-up-hor-left {
        0% {
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
        100% {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
      }
    }

    /////////////////////////////////
    /* SOUS MENU PROFIL */
    /////////////////////////////////
    .profil-menu-window1,
    .profil-menu-window2,
    .profil-menu-window3,
    .profil-menu-window4 {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .profil-menu-box-principal {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image-box-profil-menu1,
    .image-box-profil-menu2,
    .image-box-profil-menu3,
    .image-box-profil-menu4 {
      height: 300px;
      width: 100%;
    }
    .image-box-profil-menu1 {
      background-image: url(../images/OmniFood.PNG);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .image-box-profil-menu2 {
      background-color: rgb(218, 198, 16);
    }
    .image-box-profil-menu3 {
      background-color: rgb(16, 218, 93);
    }
    .image-box-profil-menu4 {
      background-color: rgb(19, 16, 218);
    }

    .profil-menu-text-box {
      font-size: 1rem;
      letter-spacing: 2px;
    }
    .profil-menu-link-box {
      align-self: flex-end;
      color: $dark-gray;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.6rem;
    }

    .profil-menu-link-box:hover {
      text-decoration: underline solid $dark-gray 2px;
    }

    /////////////////////////////////
    /* MENU PROJET */
    /////////////////////////////////
    .projet-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .projet-menu-principal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3px;
        .projet-menu-items {
          height: 40px;
          width: 100%;
          background-color: $light-gray;
          display: flex;
          gap: 5px;
          align-items: center;

          .projet-menu-barre {
            height: 100%;
            width: 10px;
            background-color: $dark-gray;
          }

          .projet-menu-text {
            background-color: $light-gray;
            margin-left: 10px;
            color: $dark-gray;
          }
        }
        .projet-menu-deco {
          width: 100%;
          height: 2px;
        }
      }
      .projet-menu-items:hover {
        box-shadow: 1px 1px 3px $dark-gray;
      }
      .projet-menu-principal:hover .projet-menu-items,
      .projet-menu-principal:hover .projet-menu-deco,
      .projet-menu-principal:hover .projet-menu-text {
        animation-name: scale-up-hor-left;
        animation-duration: 0.1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        background-color: $dark-gray;
        color: $light-gray;
        cursor: pointer;
      }

      @keyframes scale-up-hor-left {
        0% {
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
        100% {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
        }
      }
    }
    /////////////////////////////////
    /* SOUS MENU PROJET */
    /////////////////////////////////
    .sous-menu-window1,
    .sous-menu-window2,
    .sous-menu-window3,
    .sous-menu-window4 {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .sous-menu-box-principal {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .image-box-sous-menu1,
    .image-box-sous-menu2,
    .image-box-sous-menu3,
    .image-box-sous-menu4 {
      height: 300px;
      width: 100%;
    }
    .image-box-sous-menu1 {
      background-image: url(../images/OmniFoodNew.PNG);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .image-box-sous-menu2 {
      background-color: rgb(218, 198, 16);
    }
    .image-box-sous-menu3 {
      background-color: rgb(16, 218, 93);
    }
    .image-box-sous-menu4 {
      background-color: rgb(19, 16, 218);
    }

    .sous-menu-text-box {
      font-size: 1rem;
      letter-spacing: 2px;
    }
    .sous-menu-link-box {
      align-self: flex-end;
      color: $dark-gray;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.6rem;
    }

    .sous-menu-link-box:hover {
      text-decoration: underline solid $dark-gray 2px;
    }
  }

  /////////////////////////////////
  /// MENU CONTACT
  /// /////////////////////////
  .contact-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .contact-menu-principal {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 3px;
      .contact-menu-items {
        height: 40px;
        width: 100%;
        background-color: $light-gray;
        display: flex;
        gap: 5px;
        align-items: center;

        .contact-menu-barre {
          height: 100%;
          width: 10px;
          background-color: $dark-gray;
        }

        .contact-menu-text {
          background-color: $light-gray;
          margin-left: 10px;
          color: $dark-gray;
        }
      }
      .contact-menu-deco {
        width: 100%;
        height: 2px;
      }
    }
    .contact-menu-items:hover {
      box-shadow: 1px 1px 3px $dark-gray;
    }
    .contact-menu-principal:hover .contact-menu-items,
    .contact-menu-principal:hover .contact-menu-deco,
    .contact-menu-principal:hover .contact-menu-text {
      animation-name: scale-up-hor-left;
      animation-duration: 0.1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      background-color: $dark-gray;
      color: $light-gray;
      cursor: pointer;
    }

    @keyframes scale-up-hor-left {
      0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
      100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
    }
  }

  /////////////////////////////////
  /* SOUS MENU CONTACT */
  /////////////////////////////////
  .contact-menu-window1,
  .contact-menu-window2,
  .contact-menu-window3,
  .contact-menu-window4 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact-menu-box-principal {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image-box-contact-menu1,
  .image-box-contact-menu2,
  .image-box-contact-menu3,
  .image-box-contact-menu4 {
    height: 300px;
    width: 100%;
  }
  .image-box-contact-menu1 {
    background-image: url(../images/GitHub.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .image-box-contact-menu2 {
    background-image: url(../images/GitHubOri.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .image-box-contact-menu3 {
    background-color: rgb(16, 218, 93);
  }
  .image-box-contact-menu4 {
    background-color: rgb(19, 16, 218);
  }

  .contact-menu-text-box {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .contact-menu-link-box {
    align-self: flex-end;
    color: $dark-gray;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
  }

  .contact-menu-link-box:hover {
    text-decoration: underline solid $dark-gray 2px;
  }

  /////////////////////////////////
  ///// /* Reboot Box */
  /////////////////////////////////
  #reboot-box {
    position: absolute;
    width: 450px;
    height: 340px;
    z-index: 9;
    animation: scale-up-center 0.1s 1 forwards;

    @keyframes scale-up-center {
      0% {
        -webkit-transform: translate(
            calc((100vw - 450px) / 2),
            calc((100vh - 340px) / 2)
          )
          scale(0.5);
        transform: translate(
            calc((100vw - 450px) / 2),
            calc((100vh - 340px) / 2)
          )
          scale(0.5);
      }
      100% {
        -webkit-transform: translate(
            calc((100vw - 450px) / 2),
            calc((100vh - 340px) / 2)
          )
          scale(1);
        transform: translate(
            calc((100vw - 450px) / 2),
            calc((100vh - 340px) / 2)
          )
          scale(1);
      }
    }

    #reboot-title-box {
      background-color: #4b483f;
      height: 25%;

      #reboot-title-text {
        text-align: center;
        transform: translateY(calc((50% + 1rem) / 2));
        color: $light-gray;
        font-size: 2rem;
      }
    }

    #reboot-text-box {
      background-color: $light-gray;
      display: flex;
      height: 75%;
      flex-direction: column;
      justify-content: space-around;

      #reboot-message {
        color: $dark-gray;
        text-align: center;
        padding: 0px 15px 0px 15px;
      }

      #reboot-text-mini-box {
        display: flex;
        justify-content: space-around;

        .reboot-text-1 {
          width: 40%;
          text-align-last: center;
          background-color: $light-gray;
          color: $dark-gray;
          cursor: pointer;
          border: 1px solid hsla(45, 9%, 27%, 0.5);
        }

        .reboot-text-1:hover {
          background-color: $dark-gray;
          color: $light-gray;
        }
        .reboot-text-2 {
          width: 40%;
          background-color: $light-gray;
          color: $dark-gray;
          text-align: center;
          cursor: pointer;
          border: 1px solid hsla(45, 9%, 27%, 0.5);
        }

        .reboot-text-2:hover {
          background-color: $dark-gray;
          color: $light-gray;
        }
      }
    }
  }

  /* Animations */

  /* Responsive */

  @media (max-width: 576px) {
    .projet-menu {
      display: none;
    }
    .sous-menu {
      display: none;
    }
  }
}
